textarea, textarea:focus {
    width: 100%;
    border: none;
}

*,
*:before {
    box-sizing: border-box;
}

/*BUTTON*/
button {
    position: relative;
    overflow: hidden;
}

button span {
    transition: 0.6s;
    transition-delay: 0.2s;
}

button:before {
    content: attr(data-hover);
    position: absolute;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: .4s, opacity .6s;
}

button:before {
    transform: translate(-150%, 0);
}

button:hover span {
    opacity: 0;
    transform: scale(0.3);
}

button:hover:before {
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: .4s;
}